// Place all the styles related to the Account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* account.scss */
@import "bootstrap";


body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* ヘッダー全体 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellowgreen;
  padding: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

/* ヘッダーのロゴ部分 */
header .logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

/* ナビゲーション部分 */
header .nav {
  display: flex;
  gap: 1rem;
}

/* ナビゲーションのリンク部分 */
header .nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  transition: background-color 0.3s;
}

/* ナビゲーションのリンク部分をマウスオーバーしたときの装飾 */
header .nav a:hover {
  background-color: #555;
}
