<p><%= @resource.email %>さんこんにちは！</p>

<p>あなたのアカウントは、失敗したサインイン試行回数が多すぎるためロックされました。</p>

<p>下のリンクをクリックしてアカウントをアンロックしてください：</p>

<p><%= link_to 'アカウントのアンロック', unlock_url(@resource, unlock_token: @token) %></p>
